<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>민선</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h2><br><br>민선은 당신의 산타가 아닙니다.</h2>
        <img src=/public/민선.jpg width="300" height="300">
        <br>
        <a href="test2">다시뽑기</a>
    </div>


</body>

</html>