<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>해나</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h2><br><br>해나는 당신의 산타입니다.</h2>
        <img src=/public/해나.jpg width="300" height="300">
        <br>
        <a href="last">선물 받으러 가기</a>
    </div>


</body>

</html>